<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptdealerprod.mapper.ProdUnitMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptdealerprod.entity.ProdUnit">
    <!--@mbg.generated-->
    <!--@Table dealer_unit-->
    <id column="unit_id" property="unitId" />
    <result column="company_id" property="companyId" />
    <result column="unit_code" property="unitCode" />
    <result column="unit_name" property="unitName" />
    <result column="status" property="status" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="remark" property="remark" />
    <result column="del_flag" property="delFlag" />
  </resultMap>
  <sql id="selectProdUnit">
			select u.unit_id,u.company_id,u.unit_code,u.unit_name,u.status,u.create_by,u.remark,u.create_time
			from dealer_unit u
    </sql>

  <select id="getProdUnitPage" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    <where>
      u.del_flag = '0' and u.company_id = #{companyId}
      <if test="query.unitCode != null and query.unitCode != ''">
        AND u.unit_code like concat('%', #{query.unitCode}, '%')
      </if>
      <if test="query.unitName != null and query.unitName != ''">
        AND u.unit_name like concat('%', #{query.unitName}, '%')
      </if>
      <if test="query.status != null and query.status != ''">
        AND u.status = #{query.status}
      </if>
    </where>
    ORDER BY u.create_time DESC
  </select>

  <select id="getProdUnitList" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    <where>
      u.del_flag = '0' and u.status = '0' and u.company_id = #{companyId}
    </where>
    ORDER BY u.unit_code ASC
  </select>

  <select id="selectUnitList" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    <where>
      company_id = #{companyId}
      <if test="unit.unitCode != null and unit.unitCode != ''">
        AND unit_code like concat('%', #{unit.unitCode}, '%')
      </if>
      <if test="unit.status != null and unit.status != ''">
        AND status = #{unit.status}
      </if>
      <if test="unit.unitName != null and unit.unitName != ''">
        AND unit_name like concat('%', #{unit.unitName}, '%')
      </if>
    </where>
  </select>

  <select id="selectUnitAll" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where  company_id = #{companyId}
  </select>

  <select id="selectUnitById"  resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where unit_id = #{unitId} and company_id = #{companyId}
  </select>

  <select id="checkUnitNameUnique"  resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where unit_name=#{unitName} and company_id = #{companyId}
  </select>

  <select id="checkUnitCodeUnique"  resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where unit_code=#{unitCode} and company_id = #{companyId}
  </select>

  <update id="updateUnit" >
    update dealer_unit
    <set>
      <if test="unit.unitCode != null and unit.unitCode != ''">unit_code = #{unit.unitCode},</if>
      <if test="unit.unitName != null and unit.unitName != ''">unit_name = #{unit.unitName},</if>
      <if test="unit.status != null and unit.status != ''">status = #{unit.status},</if>
      <if test="unit.remark != null">remark = #{unit.remark},</if>
    </set>
    where unit_id = #{unit.unitId} and company_id = #{companyId}
  </update>

  <insert id="insertUnit"  keyProperty="unitId">
    insert into dealer_unit(
    <if test="unit.unitId != null and unit.unitId != ''">unit_id,</if>
    <if test="companyId != null and companyId != ''">company_id,</if>
    <if test="unit.unitCode != null and unit.unitCode != ''">unit_code,</if>
    <if test="unit.unitName != null and unit.unitName != ''">unit_name,</if>
    <if test="unit.status != null and unit.status != ''">status,</if>
    <if test="unit.remark != null and unit.remark != ''">remark,</if>
    <if test="unit.createBy != null and unit.createBy != ''">create_by,</if>
    create_time
    )values(
    <if test="unit.unitId != null and unit.unitId != ''">#{unit.unitId},</if>
    <if test="companyId != null and companyId != ''">#{companyId},</if>
    <if test="unit.unitCode != null and unit.unitCode != ''">#{unit.unitCode},</if>
    <if test="unit.unitName != null and unit.unitName != ''">#{unit.unitName},</if>
    <if test="unit.status != null and unit.status != ''">#{unit.status},</if>
    <if test="unit.remark != null and unit.remark != ''">#{unit.remark},</if>
    <if test="unit.createBy != null and unit.createBy != ''">#{unit.createBy},</if>
    sysdate()
    )
  </insert>

  <update id="deleteUnitByIds"  >
    update dealer_unit set del_flag = '1' where company_id = #{companyId} and unit_id in
    <foreach collection="unitIds" item="unitId" open="(" separator="," close=")">
      #{unitId,jdbcType=VARCHAR}
    </foreach>
  </update>

  <update id="deleteUnitById" >
    update dealer_unit set del_flag = '1' where unit_id = #{unitId} and company_id = #{companyId}
  </update>
</mapper>