<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptdealerprod.mapper.ProdUnitMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptdealerprod.entity.ProdUnit">
    <!--@mbg.generated-->
    <!--@Table dealer_unit-->
    <id column="unit_id" property="unitId" />
    <result column="unit_code" property="unitCode" />
    <result column="unit_name" property="unitName" />
    <result column="status" property="status" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="remark" property="remark" />
    <result column="del_flag" property="delFlag" />
  </resultMap>
  <sql id="selectProdUnit">
			select u.unit_id,u.unit_code,u.unit_name,u.status,u.create_by,u.remark,u.create_time
			from dealer_unit u
    </sql>

  <select id="getProdUnitPage" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    <where>
      u.del_flag = '0'
      <if test="query.unitCode != null and query.unitCode != ''">
        AND u.unit_code like concat('%', #{query.unitCode}, '%')
      </if>
      <if test="query.unitName != null and query.unitName != ''">
        AND u.unit_name like concat('%', #{query.unitName}, '%')
      </if>
      <if test="query.status != null and query.status != ''">
        AND u.status = #{query.status}
      </if>
    </where>
    ORDER BY u.create_time DESC
  </select>

  <select id="getProdUnitList" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    <where>
      u.del_flag = '0' and u.status = '0'
    </where>
    ORDER BY u.unit_code ASC
  </select>

  <select id="selectUnitList" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    <where>
      <if test="unitCode != null and unitCode != ''">
        AND unit_code like concat('%', #{unitCode}, '%')
      </if>
      <if test="status != null and status != ''">
        AND status = #{status}
      </if>
      <if test="unitName != null and unitName != ''">
        AND unit_name like concat('%', #{unitName}, '%')
      </if>
    </where>
  </select>

  <select id="selectUnitAll" resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
  </select>

  <select id="selectUnitById"  resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where unit_id = #{unitId}
  </select>

  <select id="checkUnitNameUnique"  resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where unit_name=#{unitName}
  </select>

  <select id="checkUnitCodeUnique"  resultMap="BaseResultMap">
    <include refid="selectProdUnit"/>
    where unit_code=#{unitCode}
  </select>

  <update id="updateUnit" >
    update dealer_unit
    <set>
      <if test="unitCode != null and unitCode != ''">unit_code = #{unitCode},</if>
      <if test="unitName != null and unitName != ''">unit_name = #{unitName},</if>
      <if test="status != null and status != ''">status = #{status},</if>
      <if test="remark != null">remark = #{remark},</if>
    </set>
    where unit_id = #{unitId}
  </update>

  <insert id="insertUnit"  keyProperty="unitId">
    insert into dealer_unit(
    <if test="unitId != null and unitId != ''">unit_id,</if>
    <if test="unitCode != null and unitCode != ''">unit_code,</if>
    <if test="unitName != null and unitName != ''">unit_name,</if>
    <if test="status != null and status != ''">status,</if>
    <if test="remark != null and remark != ''">remark,</if>
    <if test="createBy != null and createBy != ''">create_by,</if>
    create_time
    )values(
    <if test="unitId != null and unitId != ''">#{unitId},</if>
    <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
    <if test="unitName != null and unitName != ''">#{unitName},</if>
    <if test="status != null and status != ''">#{status},</if>
    <if test="remark != null and remark != ''">#{remark},</if>
    <if test="createBy != null and createBy != ''">#{createBy},</if>
    sysdate()
    )
  </insert>

  <update id="deleteUnitByIds"  >
    update dealer_unit set del_flag = '1' where unit_id in
    <foreach collection="array" item="unitId" open="(" separator="," close=")">
      #{unitId,jdbcType=VARCHAR}
    </foreach>
  </update>

  <update id="deleteUnitById" >
    update dealer_unit set del_flag = '1' where unit_id = #{unitId}
  </update>
</mapper>