<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptdealerprod.mapper.ProdPackageMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptdealerprod.dto.PackageDto">
    <!--@mbg.generated-->
    <!--@Table dealer_package-->
    <id column="package_id" property="packageId" />
    <result column="company_id" property="companyId" />
    <result column="package_code" property="packageCode" />
    <result column="package_name" property="packageName" />
    <result column="status" property="status" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="remark" property="remark" />
    <result column="del_flag" property="delFlag" />
    <collection property="packageUnits" ofType="com.pt.ptdealerprod.entity.ProdUnit"
                select="com.pt.ptdealerprod.mapper.ProdPackageUnitMapper.listPackageUnit" column="{packageId = package_id,companyId = company_id}">
    </collection>
  </resultMap>
  <sql id="selectProdPackage">
			select p.package_id,p.company_id,p.package_code,p.package_name,p.status,p.create_by,p.remark,p.create_time
			from dealer_package p
    </sql>

  <select id="getProdPackagePage" resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    <where>
      p.del_flag = '0' and p.company_id = #{companyId}
      <if test="query.packageCode != null and query.packageCode != ''">
        AND p.package_code like concat('%', #{query.packageCode}, '%')
      </if>
      <if test="query.packageName != null and query.packageName != ''">
        AND p.package_name like concat('%', #{query.packageName}, '%')
      </if>
      <if test="query.status != null and query.status != ''">
        AND p.status = #{query.status}
      </if>
    </where>
    ORDER BY p.create_time DESC
  </select>

  <select id="getProdPackageList" resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    <where>
      p.del_flag = '0' and p.status = '0'and p.company_id = #{companyId}
    </where>
    ORDER BY p.package_code ASC
  </select>

  <select id="selectPackageList" resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    <where>
      company_id = #{companyId}
      <if test="prodPackage.packageCode != null and prodPackage.packageCode != ''">
        AND package_code like concat('%', #{prodPackage.packageCode}, '%')
      </if>
      <if test="prodPackage.status != null and prodPackage.status != ''">
        AND status = #{prodPackage.status}
      </if>
      <if test="prodPackage.packageName != null and prodPackage.packageName != ''">
        AND package_name like concat('%', #{prodPackage.packageName}, '%')
      </if>
    </where>
  </select>

  <select id="selectPackageAll" resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    where p.company_id = #{companyId}
  </select>

  <select id="selectPackageById"  resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    where package_id = #{prodPackageId} and p.company_id = #{companyId}
  </select>

  <select id="checkPackageNameUnique"  resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    where package_name=#{prodPackageName} and p.company_id = #{companyId}
  </select>

  <select id="checkPackageCodeUnique"  resultMap="BaseResultMap">
    <include refid="selectProdPackage"/>
    where package_code=#{prodPackageCode} and p.company_id = #{companyId}
  </select>

  <update id="updatePackage" >
    update dealer_package
    <set>
      <if test="prodPackage.packageCode != null and prodPackage.packageCode != ''">package_code = #{prodPackage.packageCode},</if>
      <if test="prodPackage.packageName != null and prodPackage.packageName != ''">package_name = #{prodPackage.packageName},</if>
      <if test="prodPackage.status != null and prodPackage.status != ''">status = #{prodPackage.status},</if>
      <if test="prodPackage.remark != null">remark = #{prodPackage.remark},</if>
    </set>
    where package_id = #{prodPackage.packageId} and company_id = #{companyId}
  </update>

  <insert id="insertPackage"  keyProperty="packageId">
    insert into dealer_package(
    <if test="prodPackage.packageId != null and prodPackage.packageId != ''">package_id,</if>
    <if test="companyId != null and companyId != ''">company_id,</if>
    <if test="prodPackage.packageCode != null and prodPackage.packageCode != ''">package_code,</if>
    <if test="prodPackage.packageName != null and prodPackage.packageName != ''">package_name,</if>
    <if test="prodPackage.status != null and prodPackage.status != ''">status,</if>
    <if test="prodPackage.remark != null and prodPackage.remark != ''">remark,</if>
    <if test="prodPackage.createBy != null and prodPackage.createBy != ''">create_by,</if>
    create_time
    )values(
    <if test="prodPackage.packageId != null and prodPackage.packageId != ''">#{prodPackage.packageId},</if>
    <if test="companyId != null and companyId != ''">#{companyId},</if>
    <if test="prodPackage.packageCode != null and prodPackage.packageCode != ''">#{prodPackage.packageCode},</if>
    <if test="prodPackage.packageName != null and prodPackage.packageName != ''">#{prodPackage.packageName},</if>
    <if test="prodPackage.status != null and prodPackage.status != ''">#{prodPackage.status},</if>
    <if test="prodPackage.remark != null and prodPackage.remark != ''">#{prodPackage.remark},</if>
    <if test="prodPackage.createBy != null and prodPackage.createBy != ''">#{prodPackage.createBy},</if>
    sysdate()
    )
  </insert>

  <update id="deletePackageByIds"  >
    update dealer_package set del_flag = '1' where company_id = #{companyId} and package_id in
    <foreach collection="prodPackageIds" item="packageId" open="(" separator="," close=")">
      #{packageId,jdbcType=VARCHAR}
    </foreach>
  </update>

  <update id="deletePackageById" >
    update dealer_package set del_flag = '1' where package_id = #{prodPackageId} and company_id = #{companyId}
  </update>
</mapper>