<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptuser.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptuser.entity.SysMenu">
    <!--@mbg.generated-->
    <!--@Table system_menu-->
    <id column="menu_id"  property="menuId" />
    <result column="menu_name" property="menuName" />
    <result column="parent_id" property="parentId" />
    <result column="order_num" property="orderNum" />
    <result column="path"  property="path" />
    <result column="component" property="component" />
    <result column="is_frame"  property="isFrame" />
    <result column="menu_type"  property="menuType" />
    <result column="type"  property="type" />
    <result column="client_type"  property="clientType" />
    <result column="visible" property="visible" />
    <result column="status" property="status" />
    <result column="perms" property="perms" />
    <result column="icon" property="icon" />
    <result column="create_by"  property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
    <result column="remark" property="remark" />
  </resultMap>

    <resultMap id="MenuTreeVoResultMap" type="com.pt.ptcommoncore.dto.MenuVO">
        <!--@mbg.generated-->
        <!--@Table system_menu-->
        <id column="menu_id"  property="menuId" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="order_num" property="orderNum" />
        <result column="path"  property="path" />
        <result column="menu_type"  property="menuType" />
        <result column="perms" property="perms" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="selectSysMenu">
        select m.menu_id, m.menu_name, m.parent_id, m.order_num, m.path, m.component, m.is_frame, m.menu_type,m.type,m.client_type, m.visible, m.status, ifnull(m.perms,'') as perms, m.icon, m.create_time
		from system_menu m
    </sql>

    <select id="selectMenuList"  resultMap="BaseResultMap">
        <include refid="selectSysMenu"/>
        <where>
            <if test="menu.menuName != null and menu.menuName != ''">
                AND menu_name like concat('%', #{menu.menuName}, '%')
            </if>
            <if test="menu.visible != null and menu.visible != ''">
                AND visible = #{menu.visible}
            </if>
            <if test="menu.status != null and menu.status != ''">
                AND status = #{menu.status}
            </if>
            <if test="menu.type != null and menu.type != '' ">
                AND type = #{menu.type}
            </if>
            <!--仅在业务菜单情况下系统类型有效-->
            <if test="menu.clientType != null and menu.clientType != '' and menu.type == '1'.toString()">
                AND client_type = #{menu.clientType}
            </if>
        </where>
        order by parent_id, order_num
    </select>
    <select id="selectMenuTreeAll" resultMap="BaseResultMap">
		select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.menu_type, m.type,m.client_type,m.icon, m.order_num, m.create_time
		from system_menu m
		right join system_company_info cc on cc.type = m.type
		where m.menu_type in ('M', 'C') and m.status = 0 and cc.company_id = #{companyId}
		order by m.parent_id, m.order_num
	</select>

    <select id="selectMenuTreeByUserId" resultMap="BaseResultMap">
        SELECT DISTINCT m.menu_id, m.parent_id, m.menu_name, m.path,u.`company_id`, m.component, m.visible, m.status, IFNULL(m.perms,'') AS perms, m.is_frame, m.menu_type, m.type,m.client_type,m.icon, m.order_num, m.create_time
        FROM SYSTEM_USER u
        LEFT JOIN system_user_role ur ON u.`company_id` = ur.`company_id` AND  u.`user_id` = ur.`user_id`
        LEFT JOIN system_role r ON r.`role_id` = ur.`role_id` AND r.`company_id` = ur.`company_id`
        LEFT JOIN system_role_menu rm ON rm.`company_id` = r.`company_id` AND rm.`role_id` = r.`role_id`
        LEFT JOIN system_menu m ON m.`menu_id` = rm.`menu_id`
        where u.user_id = #{userId} and u.company_id = #{companyId} and m.menu_type in ('M', 'C') and m.status = '0'  AND r.status = '0'
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByUserId"  resultMap="BaseResultMap">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.menu_type,m.type,m.client_type, m.icon, m.order_num, m.create_time
        from system_menu m
        left join system_role_menu rm on m.menu_id = rm.menu_id
        left join system_user_role ur on rm.role_id = ur.role_id
        left join system_role ro on ur.role_id = ro.role_id
        where ur.user_id = #{params.userId} and  m.menu_type in ('M', 'C') and m.status = 0
<!--        <if test="menuName != null and menuName != ''">-->
<!--            AND menu_name like concat('%', #{menuName}, '%')-->
<!--        </if>-->
<!--        <if test="visible != null and visible != ''">-->
<!--            AND visible = #{visible}-->
<!--        </if>-->
<!--        <if test="status != null and status != ''">-->
<!--            AND status = #{status}-->
<!--        </if>-->
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuListByRoleId"  resultType="string">
        select m.menu_id, m.parent_id
        from system_menu m
        left join system_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        and m.menu_id not in (select m.parent_id from system_menu m inner join system_role_menu rm on m.menu_id = rm.menu_id and rm.role_id = #{roleId})
        order by m.parent_id, m.order_num
    </select>
  <!-- 通过用户ID，查询角色信息-->
  <select id="listRoutesByRole"  resultMap="BaseResultMap">
<!--    select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.menu_type, m.icon, m.order_num, m.create_time-->
    select distinct m.*
    from system_menu m
    left join system_role_menu rm on m.menu_id = rm.menu_id
    left join system_role ro on rm.role_id = ro.role_id
    where ro.role_code = #{role}
    order by m.parent_id, m.order_num
  </select>
<!-- 通过用户ID，查询角色信息-->
<select id="listMenuByRole"  resultMap="MenuTreeVoResultMap">
    select distinct m.menu_id, m.parent_id, m.menu_name, m.path,m.component, ifnull(m.perms,'') as perms, m.menu_type, m.type,m.client_type,m.icon, m.order_num, m.create_time,m.update_time
    from system_menu m
    left join system_role_menu rm on m.menu_id = rm.menu_id
    left join system_role ro on rm.role_id = ro.role_id
    where ro.role_code = #{role} and  m.menu_type in ('M', 'C') and m.status = 0
    order by m.parent_id, m.order_num
</select>
    <!-- 通过用户ID，查询角色信息-->
    <select id="getMenuByIdAndCompanyId" resultMap="BaseResultMap" >
        SELECT
        m.*
        FROM
        system_menu m
        WHERE m.menu_id = #{menuId}
    </select>

    <select id="selectMenuById" resultMap="BaseResultMap">
        <include refid="selectSysMenu"/>
        where m.menu_id = #{menuId}
    </select>
    <select id="checkMenuNameUnique"  resultMap="BaseResultMap">
        <include refid="selectSysMenu"/>
        where m.menu_name=#{menuName} and m.parent_id = #{parentId}
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="clientType != null and clientType != ''">
            AND client_type = #{clientType}
        </if>
    </select>

    <update id="updateMenu" >
        update system_menu
        <set>
            <if test="menu.menuName != null and menu.menuName != ''">menu_name = #{menu.menuName},</if>
            <if test="menu.parentId != null">parent_id = #{menu.parentId},</if>
            <if test="menu.orderNum != null and menu.orderNum != ''">order_num = #{menu.orderNum},</if>
            <if test="menu.path != null and menu.path != ''">path = #{menu.path},</if>
            <if test="menu.component != null and menu.component != ''">component = #{menu.component},</if>
            <if test="menu.isFrame != null and menu.isFrame != ''">is_frame = #{menu.isFrame},</if>
            <if test="menu.menuType != null and menu.menuType != ''">menu_type = #{menu.menuType},</if>
            <if test="menu.visible != null">visible = #{menu.visible},</if>
            <if test="menu.status != null">status = #{menu.status},</if>
            <if test="menu.perms !=null">perms = #{menu.perms},</if>
            <if test="menu.icon !=null and menu.icon != ''">icon = #{menu.icon},</if>
            <if test="menu.remark != null and menu.remark != ''">remark = #{menu.remark},</if>
            <if test="menu.updateBy != null and menu.updateBy != ''">update_by = #{menu.updateBy},</if>
            update_time = sysdate()
        </set>
        where menu_id = #{menu.menuId}
    </update>

    <insert id="insertMenu" >
        insert into system_menu(
        <if test="menu.menuId != null and menu.menuId != ''">menu_id,</if>
        <if test="menu.parentId != null and menu.parentId != ''">parent_id,</if>
        <if test="menu.menuName != null and menu.menuName != ''">menu_name,</if>
        <if test="menu.orderNum != null and menu.orderNum != ''">order_num,</if>
        <if test="menu.path != null and menu.path != ''">path,</if>
        <if test="menu.component != null and menu.component != ''">component,</if>
        <if test="menu.isFrame != null and menu.isFrame != ''">is_frame,</if>
        <if test="menu.menuType != null and menu.menuType != ''">menu_type,</if>
        <if test="menu.type != null and menu.type != ''">type,</if>
        <if test="menu.clientType != null and menu.clientType != ''">client_type,</if>
        <if test="menu.visible != null">visible,</if>
        <if test="menu.status != null">status,</if>
        <if test="menu.perms !=null and menu.perms != ''">perms,</if>
        <if test="menu.icon != null and menu.icon != ''">icon,</if>
        <if test="menu.remark != null and menu.remark != ''">remark,</if>
        <if test="menu.createBy != null and menu.createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="menu.menuId != null and menu.menuId != ''">#{menu.menuId},</if>
        <if test="menu.parentId != null and menu.parentId != ''">#{menu.parentId},</if>
        <if test="menu.menuName != null and menu.menuName != ''">#{menu.menuName},</if>
        <if test="menu.orderNum != null and menu.orderNum != ''">#{menu.orderNum},</if>
        <if test="menu.path != null and menu.path != ''">#{menu.path},</if>
        <if test="menu.component != null and menu.component != ''">#{menu.component},</if>
        <if test="menu.isFrame != null and menu.isFrame != ''">#{menu.isFrame},</if>
        <if test="menu.menuType != null and menu.menuType != ''">#{menu.menuType},</if>
        <if test="menu.type != null and menu.type != ''">#{menu.type},</if>
        <if test="menu.clientType != null and menu.clientType != ''">#{menu.clientType},</if>
        <if test="menu.visible != null">#{menu.visible},</if>
        <if test="menu.status != null">#{menu.status},</if>
        <if test="menu.perms !=null and menu.perms != ''">#{menu.perms},</if>
        <if test="menu.icon != null and menu.icon != ''">#{menu.icon},</if>
        <if test="menu.remark != null and menu.remark != ''">#{menu.remark},</if>
        <if test="menu.createBy != null and menu.createBy != ''">#{menu.createBy},</if>
        sysdate()
        )
    </insert>

    <select id="hasChildByMenuId" resultType="Integer">
        select count(1) from system_menu where parent_id = #{menuId}
    </select>

    <delete id="deleteMenuById" >
        delete from system_menu where menu_id = #{menuId}
    </delete>
    <select id="listAllMenu" resultMap="BaseResultMap" >
        select m.menu_id, m.menu_name, m.parent_id, m.order_num, m.path, m.component, m.is_frame, m.menu_type,m.type,m.client_type, m.visible, m.status, ifnull(m.perms,'') as perms, m.icon, m.create_time
		from system_menu m
    </select>
    <select id="selectSystemMenuList" resultMap="BaseResultMap">
        <include refid="selectSysMenu"/>
        where m.type = '0'
    </select>
    <select id="selectBussinessMenuList" resultMap="BaseResultMap">
        <include refid="selectSysMenu"/>
        right join  system_company_info  cc on cc.type = m.client_type
        where m.type = '1' and cc.company_id = #{companyId}
    </select>
</mapper>