<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptuser.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptuser.entity.SysRole">
    <id column="role_id"  property="roleId" />
    <result column="company_id" property="companyId"/>
    <result column="role_name"  property="roleName" />
    <result column="role_code"  property="roleCode" />
    <result column="role_sort"  property="roleSort" />
    <result column="create_by"  property="createBy" />
    <result column="create_time"  property="createTime" />
    <result column="status"  property="status" />
  </resultMap>
  <sql id="selectSysRole">
        select r.role_id,r.role_name,r.role_code,r.role_sort,r.create_by,r.create_time,r.status,r.company_id
        from system_role r
    </sql>

  <select id="selectRoleListByUserId" resultType="STRING">
    select r.role_id
    from system_role r
    left join system_user_role ur on ur.role_id = r.role_id and ur.company_id = r.company_id
    left join system_user u on u.user_id = ur.user_id and u.company_id = ur.company_id
    where u.user_id = #{userId} and u.company_id = #{companyId}
  </select>
  <!-- 通过用户ID，查询角色信息-->
  <select id="listRolesByUserIdAndCompanyId" resultMap="BaseResultMap">
    SELECT r.*
    FROM system_role r
    LEFT JOIN system_user_role ur ON ur.`role_id` = r.`role_id` and ur.company_id = r.company_id
    WHERE ur.`user_id` = #{userId} AND r.`company_id` = #{companyId} AND r.`del_flag` = '0' AND r.`status` = '0'
  </select>
  <!-- 通过用户ID，查询角色信息-->
  <select id="listRolesByUserId" resultMap="BaseResultMap">
    SELECT r.*
  FROM center_role r
  LEFT JOIN center_user_role ur ON ur.`role_id` = r.`role_id`
  WHERE ur.`user_id` = #{userId}  AND r.`del_flag` = '0' AND r.`status` = '0'
</select>
  <select id="getByRoleCode"  resultMap="BaseResultMap" >
    <include refid="selectSysRole"/>
    where r.role_code = #{roleCode} and r.company_id = #{companyId}
  </select>

  <select id="selectRoleList"  resultMap="BaseResultMap">
    <include refid="selectSysRole"/>
    where r.del_flag = '0' and r.company_id = #{companyId}
    <if test="role.roleName != null and role.roleName != ''">
      AND r.role_name like concat('%', #{role.roleName}, '%')
    </if>
    <if test="role.status != null and role.status != ''">
      AND r.status = #{role.status}
    </if>
    <if test="role.roleCode != null and role.roleCode != ''">
      AND r.role_key like concat('%', #{role.roleCode}, '%')
    </if>
    <if test="role.beginTime != null and role.beginTime != ''"><!-- 开始时间检索 -->
      and date_format(r.create_time,'%y%m%d') &gt;= date_format(#{role.beginTime},'%y%m%d')
    </if>
    <if test="role.endTime != null and role.endTime != ''"><!-- 结束时间检索 -->
      and date_format(r.create_time,'%y%m%d') &lt;= date_format(#{role.endTime},'%y%m%d')
    </if>
    order by r.role_sort
  </select>

  <select id="getRolePage"  resultMap="BaseResultMap" >
    <include refid="selectSysRole"/>
    where  r.del_flag = '0'  and r.company_id = #{companyId}
    <if test="role.roleName != null and role.roleName != ''">
      AND r.role_name like concat('%', #{role.roleName}, '%')
    </if>
    <if test="role.status != null and role.status != ''">
      AND r.status = #{role.status}
    </if>
    <if test="role.roleCode != null and role.roleCode != ''">
      AND r.role_code like concat('%', #{role.roleCode}, '%')
    </if>
    <if test="role.beginTime != null and role.beginTime != ''"><!-- 开始时间检索 -->
      and date_format(r.create_time,'%y%m%d') &gt;= date_format(#{role.beginTime},'%y%m%d')
    </if>
    <if test="role.endTime != null and role.endTime != ''"><!-- 结束时间检索 -->
      and date_format(r.create_time,'%y%m%d') &lt;= date_format(#{role.endTime},'%y%m%d')
    </if>
    order by r.role_sort ASC
  </select>

  <select id="selectRoleById" resultMap="BaseResultMap">
    <include refid="selectSysRole"/>
    where r.role_id = #{roleId}  and r.company_id = #{companyId}
  </select>

  <update id="updateRole" >
    update system_role r
    <set>
      <if test="role.roleName != null and role.roleName != ''">r.role_name = #{role.roleName},</if>
      <if test="role.roleCode != null and role.roleCode != ''">r.role_code = #{role.roleCode},</if>
      <if test="role.roleSort != null and role.roleSort != ''">r.role_sort = #{role.roleSort},</if>
      <if test="role.status != null and role.status != ''">r.status = #{role.status},</if>
<!--      r.update_time = sysdate()-->
    </set>
    where r.role_id = #{role.roleId}  and r.company_id = #{companyId}
  </update>

  <select id="checkRoleNameUnique" resultMap="BaseResultMap">
    <include refid="selectSysRole"/>
    where r.role_name=#{roleName} and r.del_flag ='0' and r.company_id = #{companyId}
  </select>

  <select id="checkRoleCodeUnique"  resultMap="BaseResultMap">
    <include refid="selectSysRole"/>
    where r.role_code=#{roleCode} and r.del_flag ='0' and r.company_id = #{companyId}
  </select>

  <insert id="insertRole"  keyProperty="roleId">
    insert into system_role(
    <if test="role.roleId != null and role.roleId != ''">role_id,</if>
    <if test="role.roleName != null and role.roleName != ''">role_name,</if>
    <if test="role.roleCode != null and role.roleCode != ''">role_code,</if>
    <if test="role.roleSort != null and role.roleSort != ''">role_sort,</if>
    <if test="role.status != null and role.status != ''">status,</if>
    <if test="role.createBy != null and role.createBy != ''">create_by,</if>
    create_time
    )values(
    <if test="role.roleId != null and role.roleId != ''">#{role.roleId},</if>
    <if test="role.roleName != null and role.roleName != ''">#{role.roleName},</if>
    <if test="role.roleCode != null and role.roleCode != ''">#{role.roleCode},</if>
    <if test="role.roleSort != null and role.roleSort != ''">#{role.roleSort},</if>
    <if test="role.status != null and role.status != ''">#{role.status},</if>
    <if test="role.createBy != null and role.createBy != ''">#{role.createBy},</if>
    sysdate()
    )
  </insert>

  <update id="deleteRoleByIds"  >
    update system_role set del_flag = '1' where role_id and company_id = #{companyId} in
    <foreach collection="roles" item="roleId" open="(" separator="," close=")">
      #{roleId,jdbcType=VARCHAR}
    </foreach>
  </update>

  <update id="deleteRoleById" >
    update system_role set del_flag = '1' where role_id = #{roleId} and company_id = #{companyId}
  </update>


  <sql id="selectRoleVo">
	    select distinct r.role_id, r.role_name, r.role_code, r.role_sort,
            r.status, r.del_flag, r.create_time,r.company_id
        from system_role r
	        left join system_user_role ur on ur.role_id = r.role_id
	        left join system_user u on u.user_id = ur.user_id
	        left join system_dept d on u.dept_id = d.dept_id
    </sql>

  <select id="selectRolesByUserName"  resultMap="BaseResultMap">
    <include refid="selectRoleVo"/>
    WHERE r.del_flag = '0' and u.user_name = #{userName}
  </select>
  <select id="checkRole" resultMap="BaseResultMap" >
        select r.role_id,r.role_name,r.role_code,r.role_sort,r.create_by,r.create_time,r.status,r.company_id
        from system_role r
        where r.role_id = #{roleId} and r.role_code = #{roleCode} and r.company_id = #{companyId}
  </select>
</mapper>