<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptuser.mapper.SysUserMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.pt.ptuser.entity.SysUser">
		<id column="user_id" property="userId"/>
		<result column="company_id" property="companyId"/>
		<result column="dept_id" property="deptId"/>
		<result column="user_name" property="userName"/>
		<result column="nick_name" property="nickName"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="sex" property="sex"/>
		<result column="avatar" property="avatar"/>
		<result column="status" property="status"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<resultMap id="userVoMap" type="com.pt.ptuser.vo.UserVo">
		<id column="user_id" property="userId"/>
		<result column="dept_id" property="deptId"/>
		<result column="company_id" property="companyId"/>
		<result column="dept_name" property="deptName"/>
		<result column="post_id" property="postId"/>
		<result column="post_name" property="postName"/>
		<result column="user_name" property="userName"/>
		<result column="nick_name" property="nickName"/>
		<result column="password" property="password"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="sex" property="sex"/>
		<result column="avatar" property="avatar"/>
		<result column="status" property="status"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<sql id="selectSysUser">
        select u.user_id,u.dept_id,u.user_name,u.nick_name,u.password,u.email,u.phone,u.sex,u.avatar,u.remark,u.status,u.company_id,u.create_time
        from system_user u
    </sql>

	<select id="findUserByUsernameAndUrl"  resultMap="baseResultMap">
		select su.user_id,su.company_id,su.dept_id,su.user_name,su.nick_name,su.password,su.email,su.phone,su.sex,su.avatar,su.status,su.remark
		FROM system_company_info cc
		LEFT JOIN SYSTEM_USER su ON cc.`company_id` = su.`company_id`
		WHERE cc.`url` = #{url} and su.user_name = #{username} and su.del_flag = '0'
	</select>

	<select id="findUserByUsernameAndCompanyId"  resultMap="baseResultMap">
		select su.user_id,su.company_id,su.dept_id,su.user_name,su.nick_name,su.password,su.email,su.phone,su.sex,su.avatar,su.status,su.remark
		FROM  SYSTEM_USER su
		WHERE su.`company_id` = #{companyId} and su.user_name = #{username} and su.del_flag = '0'
	</select>


	<select id="getDeptUserPage"  resultMap="baseResultMap" >
		select u.user_id,u.user_name,u.nick_name,u.email,u.phone,u.sex,u.avatar,u.status,u.password,u.dept_id,u.company_id,d.dept_name,u.remark
		from system_user u
		left join  system_dept d ON u.dept_id = d.dept_id AND u.company_id = d.company_id
		where u.dept_id = #{deptId} and u.del_flag = '0' and u.company_id = ${companyId}
		order by u.user_id ASC
	</select>
	<select id="getAllUserPage"  resultMap="userVoMap" >
		select u.user_id,u.user_name,u.nick_name,u.email,u.phone,u.sex,u.avatar,u.status,u.password,u.dept_id,d.dept_name,u.create_time,p.post_id,u.company_id,p.post_name,u.remark
		from system_user u
		left join  system_dept d ON u.dept_id = d.dept_id and u.company_id = d.company_id
		left join  system_user_post  up ON up.user_id = u.user_id and u.company_id = up.company_id
		left join  system_post p ON p.post_id = up.post_id and p.company_id = u.company_id
		where u.del_flag = '0' and u.company_id = ${companyId}
		<if test="user.userName != null and user.userName != ''">
			AND u.user_name like concat('%', #{user.userName}, '%')
		</if>
		<if test="user.status != null and user.status != ''">
			AND u.status = #{user.status}
		</if>
		<if test="user.phone != null and user.phone != ''">
			AND u.phone like concat('%', #{user.phone}, '%')
		</if>
		<if test="user.beginTime != null and user.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{user.beginTime},'%y%m%d')
		</if>
		<if test="user.endTime != null and user.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{user.endTime},'%y%m%d')
		</if>
		<if test="user.deptId != null and user.deptId != ''">
			AND (u.dept_id = #{user.deptId} OR u.dept_id IN ( SELECT t.dept_id FROM system_dept t WHERE t.company_id = #{companyId} and FIND_IN_SET (#{user.deptId},ancestors) ))
		</if>
		<if test="user.postId != null and user.postId != ''">
			AND up.post_id = #{user.postId}
		</if>
		order by u.user_id ASC
	</select>

	<select id="getByUserIdAndCompanyId"  resultMap="baseResultMap" >
		<include refid="selectSysUser"/>
		where u.user_id = #{userId} and u.company_id = #{companyId} and u.del_flag = '0'
	</select>

	<update id="updateUser" >
		update system_user u
		<set>
			<if test="user.deptId != null and user.deptId != ''">u.dept_id = #{user.deptId},</if>
			<if test="user.userName != null and user.userName != ''">u.user_name = #{user.userName},</if>
			<if test="user.nickName != null and user.nickName != ''">u.nick_name = #{user.nickName},</if>
			<if test="user.email != null and user.email != ''">u.email = #{user.email},</if>
			<if test="user.phone != null and user.phone != ''">u.phone = #{user.phone},</if>
			<if test="user.sex != null and user.sex != ''">u.sex = #{user.sex},</if>
			<if test="user.avatar != null and user.avatar != ''">u.avatar = #{user.avatar},</if>
			<if test="user.password != null and user.password != ''">u.password = #{user.password},</if>
			<if test="user.status != null and user.status != ''">u.status = #{user.status},</if>
			<if test="user.remark != null and user.remark != ''">u.remark = #{user.remark},</if>
<!--			update_time = sysdate()-->
		</set>
		where u.user_id = #{user.userId} and u.company_id = #{companyId}
	</update>

	<insert id="insertUser" >
		insert into system_user(
		<if test="user.userId != null and user.userId != ''">user_id,</if>
		<if test="user.deptId != null and user.deptId != ''">dept_id,</if>
		<if test="companyId != null and companyId != ''">company_id,</if>
		<if test="user.userName != null and user.userName != ''">user_name,</if>
		<if test="user.nickName != null and user.nickName != ''">nick_name,</if>
		<if test="user.email != null and user.email != ''">email,</if>
		<if test="user.avatar != null and user.avatar != ''">avatar,</if>
		<if test="user.phone != null and user.phone != ''">phone,</if>
		<if test="user.sex != null and user.sex != ''">sex,</if>
		<if test="user.password != null and user.password != ''">password,</if>
		<if test="user.status != null and user.status != ''">status,</if>
		<if test="user.remark != null and user.remark != ''">remark,</if>
		create_time
		)values(
		<if test="user.userId != null and user.userId != ''">#{user.userId},</if>
		<if test="user.deptId != null and user.deptId != ''">#{user.deptId},</if>
		<if test="companyId != null and companyId != ''">#{companyId},</if>
		<if test="user.userName != null and user.userName != ''">#{user.userName},</if>
		<if test="user.nickName != null and user.nickName != ''">#{user.nickName},</if>
		<if test="user.email != null and user.email != ''">#{user.email},</if>
		<if test="user.avatar != null and user.avatar != ''">#{user.avatar},</if>
		<if test="user.phone != null and user.phone != ''">#{user.phone},</if>
		<if test="user.sex != null and user.sex != ''">#{user.sex},</if>
		<if test="user.password != null and user.password != ''">#{user.password},</if>
		<if test="user.status != null and user.status != ''">#{user.status},</if>
		<if test="user.remark != null and user.remark != ''">#{user.remark},</if>
		sysdate()
		)
	</insert>

	<select id="checkUserNameUnique"  resultMap="baseResultMap">
		<include refid="selectSysUser"/>
		where user_name = #{userName} and company_id = #{companyId}
	</select>

	<select id="checkPhoneUnique"  resultMap="baseResultMap">
		<include refid="selectSysUser"/>
		where phone = #{phone} and company_id = #{companyId}
	</select>

	<select id="checkEmailUnique" resultMap="baseResultMap">
		<include refid="selectSysUser"/>
		where email = #{email} and company_id = #{companyId}
	</select>

	<update id="deleteUserById" >
		delete from system_user where user_id = #{userId} and company_id = #{companyId}
	</update>

	<update id="deleteUserByIds" >
		update system_user set del_flag = '1' where company_id = #{companyId} and user_id in
		<foreach collection="userIds" item="userId" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</update>

	<update id="resetUserPwd" >
		update system_user set password = #{password} where user_name = #{username} and company_id = #{companyId}
	</update>

	<select id="listUserByPerms" resultMap="baseResultMap">
		select distinct u.user_id,u.dept_id,u.user_name,u.nick_name,u.password,u.email,u.phone,u.sex,u.avatar,u.status,u.remark
		from system_user u
		left join system_user_role ur on ur.user_id = u.user_id and u.company_id = ur.company_id
		left join system_role_menu rm on ur.role_id = rm.role_id and ur.company_id = rm.company_id
		left join system_menu m on m.menu_id = rm.menu_id
		where u.company_id = #{companyId} and m.perms in
		<foreach collection="perms" item="perm" open="(" separator="," close=")">
			#{perm}
		</foreach>
	</select>
	<select id="listUserByPost" resultMap="baseResultMap">
		select distinct u.user_id,u.dept_id,u.user_name,u.nick_name,u.password,u.email,u.phone,u.sex,u.avatar,u.status,u.remark
		from system_user u
		left join system_user_post up on up.user_id = u.user_id and u.company_id = up.company_id
		left join system_post p on p.post_id = up.post_id and up.company_id = p.company_id
		where u.company_id = #{companyId} and p.post_code in
		<foreach collection="post" item="post" open="(" separator="," close=")">
			#{post}
		</foreach>
	</select>
	<select id="listUserByDept" resultMap="baseResultMap">
		<include refid="selectSysUser"/>
		where u.dept_id = #{deptId} and u.company_id = #{companyId}
	</select>
	<select id="listUser" resultMap="baseResultMap">
		<include refid="selectSysUser"/>
		where u.del_flag = '0' and u.company_id = #{companyId}
	</select>
</mapper>
