<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pt.ptuser.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.pt.ptuser.entity.SysUserRole">
    <!--@mbg.generated-->
    <!--@Table dealer_user_role-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <id column="role_id" jdbcType="VARCHAR" property="roleId" />
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
  </resultMap>
  <sql id="selectSysUserRole">
        select ur.user_id,ur.role_id
		from system_user_role ur
    </sql>

  <select id="getUserRoleList"  resultMap="BaseResultMap" >
    <include refid="selectSysUserRole"/>
    left join system_role r on ur.role_id = r.role_id and ur.company_id = r.company_id
    where ur.user_id = #{userId} and r.role_code = #{roleCode} and ur.company_id = #{companyId}
  </select>
  <select id="countUserRoleByRoleId" resultType="Integer">
    select count(1) from system_user_role where role_id=#{roleId} and company_id = #{companyId}
  </select>

  <delete id="deleteUserRoleByUserId">
    delete from system_user_role where user_id=#{userId} and company_id = #{companyId}
  </delete>

  <delete id="deleteUserRole" >
    delete from system_user_role where company_id = #{companyId} and user_id in
    <foreach collection="ids" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>

  <insert id="batchUserRole">
    insert into system_user_role(user_id, role_id,company_id) values
    <foreach item="item" index="index" collection="userRoleList" separator=",">
      (#{item.userId},#{item.roleId},#{companyId})
    </foreach>
  </insert>

  <delete id="deleteUserRoleInfo">
    delete from system_user_role where user_id=#{userRole.userId} and role_id=#{userRole.roleId} and company_id = #{companyId}
  </delete>

  <delete id="deleteUserRoleInfos">
    delete from system_user_role where role_id=#{roleId} and  company_id = #{companyId} and user_id in
    <foreach collection="userIds" item="userId" open="(" separator="," close=")">
      #{userId}
    </foreach>
  </delete>
</mapper>